@charset "utf-8";

/*ν—¤λ”ν‘Έν„°*/

* {margin: 0; box-sizing: border-box;}

#wrap {width: 100%; height: auto; background-color: pink; 
}

#header {width: 100%; height: 100px; display: flex; 
  background-color: aqua; margin: 0 auto; position: absolute;}

#header >.first {width: 1200px; height: 100px; margin:0 auto; 
  background-color: red; display: flex; justify-content: space-between;}

.first > .logo {display: inline-block; background-color: pink; width: 200px; height: 60px;
margin: 20px 0 0 20px;}

.first > .small {width: 700px; height: 50px; background-color: #ddd; 
display:inline-block; margin: 25px 20px 0 0px;}